<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Poser</string>
	<key>BBLMLanguageCode</key>
	<string>PZ3R</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>$CURRENT</string>
		<string>_NO_FIG_</string>
		<string>_NONE_</string>
		<string>aaSamples</string>
		<string>active</string>
		<string>actor</string>
		<string>actorgroup</string>
		<string>addActor</string>
		<string>addCamera</string>
		<string>addChild</string>
		<string>addlayer</string>
		<string>addLight</string>
		<string>addLink</string>
		<string>addonData</string>
		<string>addToMenu</string>
		<string>addZone</string>
		<string>advancedInputsCollapsed</string>
		<string>advancedSamplingControls</string>
		<string>algorithm</string>
		<string>allowDisplacement</string>
		<string>allowRayTracing</string>
		<string>allowsBending</string>
		<string>alternateGeom</string>
		<string>alwaysDisplayOrigin</string>
		<string>ambientOcBias</string>
		<string>ambientOcDist</string>
		<string>ambientOcStrength</string>
		<string>anger</string>
		<string>angles</string>
		<string>animatableOrientation</string>
		<string>animatableOrigin</string>
		<string>animSet</string>
		<string>animSets</string>
		<string>antiAlias</string>
		<string>antialiasing</string>
		<string>aoAndIDL</string>
		<string>aoBias</string>
		<string>aoDist</string>
		<string>aoSamples</string>
		<string>apertureBlades</string>
		<string>apertureBladesRotation</string>
		<string>apertureRatio</string>
		<string>atmosphereStrength</string>
		<string>atmosShaderTree</string>
		<string>attenType</string>
		<string>attrib</string>
		<string>audioText</string>
		<string>auto</string>
		<string>autoDensity</string>
		<string>autoPlay</string>
		<string>autoScaleToView</string>
		<string>autoSpacing</string>
		<string>autoValue</string>
		<string>AUX_CAMERA</string>
		<string>auxCamera</string>
		<string>BACK_CAMERA</string>
		<string>backfaceBehavior</string>
		<string>backfaceCull</string>
		<string>baseProp</string>
		<string>beginValueKeys</string>
		<string>bend</string>
		<string>bendBodies</string>
		<string>bgColor</string>
		<string>bgMovieOn</string>
		<string>bgPicOn</string>
		<string>bgShader</string>
		<string>bgShaderTree</string>
		<string>bgStrokeParms</string>
		<string>bgStyle</string>
		<string>blendType</string>
		<string>blinkRate</string>
		<string>BOTTOM_CAMERA</string>
		<string>boxesAlways</string>
		<string>br</string>
		<string>britenessLoSegCutOff</string>
		<string>britenessSegCutOff</string>
		<string>brushStyle</string>
		<string>bucketSize</string>
		<string>build</string>
		<string>buildSphere</string>
		<string>bumpMap</string>
		<string>bumpStrength</string>
		<string>calcCurve</string>
		<string>calcWeights</string>
		<string>camAutoCenterX</string>
		<string>camAutoCenterY</string>
		<string>camAutoCenterZ</string>
		<string>camAutoFocal</string>
		<string>camAutoScale</string>
		<string>camera</string>
		<string>cameraModel</string>
		<string>canonType</string>
		<string>capsulezone</string>
		<string>caricatureFactor</string>
		<string>CARTOONNOLINE</string>
		<string>castShadows</string>
		<string>castsShadow</string>
		<string>causticsRefractive</string>
		<string>causticsReflective</string>
		<string>center</string>
		<string>channels</string>
		<string>clearFigureKeys</string>
		<string>clumpiness</string>
		<string>collapsed</string>
		<string>color</string>
		<string>colorBlend</string>
		<string>coloredLines</string>
		<string>colorRandom</string>
		<string>colorSegCutOff</string>
		<string>combine</string>
		<string>combineColor</string>
		<string>combineGradient</string>
		<string>compoundInputsPos</string>
		<string>compoundOutputsPos</string>
		<string>compoundShowPreview</string>
		<string>con</string>
		<string>conforming</string>
		<string>conformingTarget</string>
		<string>conformMorphs</string>
		<string>conformFollowOrigin</string>
		<string>conformForceEndPoint</string>
		<string>conformScale</string>
		<string>controlProp</string>
		<string>CPU</string>
		<string>creaseAngle</string>
		<string>createFullBodyMorph</string>
		<string>cropRect</string>
		<string>crossHatch</string>
		<string>currentFrame</string>
		<string>curve</string>
		<string>curveProp</string>
		<string>customColors</string>
		<string>customData</string>
		<string>customDialPalette</string>
		<string>customMaterial</string>
		<string>d</string>
		<string>data</string>
		<string>defaultAudio</string>
		<string>defaultGeomName</string>
		<string>defaultTalk</string>
		<string>defaultPick</string>
		<string>deformerProp</string>
		<string>deformerPropChan</string>
		<string>deformTarget</string>
		<string>deltaAddDelta</string>
		<string>deltas</string>
		<string>density</string>
		<string>depth</string>
		<string>depthCamera</string>
		<string>depthCue</string>
		<string>depthMapShadows</string>
		<string>depthMapSize</string>
		<string>depthMapStrength</string>
		<string>depthOfField</string>
		<string>deviceID</string>
		<string>deviceType</string>
		<string>diffuseSamples</string>
		<string>dimensions</string>
		<string>disgust</string>
		<string>displacementBounds</string>
		<string>displayMeasurements</string>
		<string>displayMode</string>
		<string>displayOn</string>
		<string>displayOrigin</string>
		<string>doAmbientOc</string>
		<string>doBalance</string>
		<string>doBulge</string>
		<string>doc</string>
		<string>doCollisions</string>
		<string>dollyCamera</string>
		<string>doPostFilter</string>
		<string>doPreviewMultisample</string>
		<string>doRealtimeAO</string>
		<string>doShadow</string>
		<string>doShadows</string>
		<string>draftSettings</string>
		<string>drawBackfacing</string>
		<string>drawToonOutline</string>
		<string>drawZOutline</string>
		<string>dynamicsLock</string>
		<string>EDGESONLY</string>
		<string>edgeStrokeParms</string>
		<string>eliptoidzone</string>
		<string>enabled</string>
		<string>enableLegacyWelding</string>
		<string>endFalloffCurve</string>
		<string>endPoint</string>
		<string>endPt</string>
		<string>endValueKeys</string>
		<string>English</string>
		<string>exposedAs</string>
		<string>eyeMotion</string>
		<string>f</string>
		<string>FACE_CAMERA</string>
		<string>faceCamera</string>
		<string>faceRoom</string>
		<string>falloffCpt</string>
		<string>false</string>
		<string>fastTracking</string>
		<string>fear</string>
		<string>featurePoints</string>
		<string>fgColor</string>
		<string>fgStrokeParms</string>
		<string>figName</string>
		<string>figure</string>
		<string>figureResFile</string>
		<string>figureType</string>
		<string>file</string>
		<string>filterGlossy</string>
		<string>filterSize</string>
		<string>filterType</string>
		<string>fireflyRoot</string>
		<string>flashInfo</string>
		<string>FLATLINED</string>
		<string>FLATSHADED</string>
		<string>flipped</string>
		<string>focal</string>
		<string>focalDistance</string>
		<string>focusDistance</string>
		<string>FocusDistanceControl</string>
		<string>forceLimits</string>
		<string>FourPorts_p1</string>
		<string>FourPorts_p2</string>
		<string>FourPorts_p3</string>
		<string>FourPorts_p4</string>
		<string>framesPerSec</string>
		<string>freeTranslates</string>
		<string>FRONT_CAMERA</string>
		<string>frontCamera</string>
		<string>frontImage</string>
		<string>fStop</string>
		<string>g</string>
		<string>gamma</string>
		<string>geomChan</string>
		<string>geomCustom</string>
		<string>geometricEdgeDistance</string>
		<string>geometricEdgeLinesOn</string>
		<string>geometricEdgeLinesWelded</string>
		<string>geomHandlerGeom</string>
		<string>geomResource</string>
		<string>GetStringRes</string>
		<string>giBounces</string>
		<string>giDepth</string>
		<string>giIntensity</string>
		<string>giMaxError</string>
		<string>giNumSamples</string>
		<string>giOnlyRender</string>
		<string>giPassScale</string>
		<string>giSamples</string>
		<string>giStrength</string>
		<string>glossySamples</string>
		<string>goal</string>
		<string>graphPalette</string>
		<string>gravityK</string>
		<string>GROUND</string>
		<string>groundDisplay</string>
		<string>groundShadows</string>
		<string>groupingObject</string>
		<string>groupNode</string>
		<string>groups</string>
		<string>hairCacheFile</string>
		<string>hairDynamicsParm</string>
		<string>hairGrowthGroup</string>
		<string>hairProp</string>
		<string>hairShadingRate</string>
		<string>handGrasp</string>
		<string>handLockOn</string>
		<string>handSpread</string>
		<string>hardwareShading</string>
		<string>hardwareShadingOptimization</string>
		<string>hardwareShadows</string>
		<string>hdriOutput</string>
		<string>headGuides</string>
		<string>headMotion</string>
		<string>hidden</string>
		<string>hider</string>
		<string>HIDLINE</string>
		<string>hipShoulder</string>
		<string>hither</string>
		<string>horizon</string>
		<string>illustrationParms</string>
		<string>inactiveGroup</string>
		<string>includedLayers</string>
		<string>includeInDepthCue</string>
		<string>indexes</string>
		<string>inHardwarePreview</string>
		<string>initValue</string>
		<string>injectPMDFileMorphs</string>
		<string>inkyChain</string>
		<string>inkyParent</string>
		<string>innerLines</string>
		<string>inputsCollapsed</string>
		<string>interpStyleLocked</string>
		<string>jointMult</string>
		<string>jointX</string>
		<string>jointY</string>
		<string>jointZ</string>
		<string>joy</string>
		<string>k</string>
		<string>KaColor</string>
		<string>Kd</string>
		<string>kdBlue</string>
		<string>KdColor</string>
		<string>kdGreen</string>
		<string>kdIntensity</string>
		<string>kdRed</string>
		<string>keepLengths</string>
		<string>keyLayer</string>
		<string>keys</string>
		<string>kfd</string>
		<string>kfrm</string>
		<string>Ks</string>
		<string>KsColor</string>
		<string>ksIgnoreTexture</string>
		<string>language</string>
		<string>layer</string>
		<string>leftCamera</string>
		<string>length</string>
		<string>lengthRange</string>
		<string>LHAND_CAMERA</string>
		<string>lHandCamera</string>
		<string>light</string>
		<string>LIGHT1</string>
		<string>LIGHT2</string>
		<string>LIGHT3</string>
		<string>lightOn</string>
		<string>lightType</string>
		<string>lin</string>
		<string>linear</string>
		<string>lineLength</string>
		<string>lineRandomness</string>
		<string>lineWidth</string>
		<string>linkParms</string>
		<string>linkWeight</string>
		<string>liteAttenEnd</string>
		<string>liteAttenStart</string>
		<string>liteFactor1</string>
		<string>liteFactor2</string>
		<string>liteFactor3</string>
		<string>liteFalloffEnd</string>
		<string>liteFalloffStart</string>
		<string>loaded</string>
		<string>locked</string>
		<string>loopEnd</string>
		<string>loopInterpolation</string>
		<string>loopMode</string>
		<string>loopStart</string>
		<string>magnetDeformerProp</string>
		<string>MAIN_CAMERA</string>
		<string>mainCamera</string>
		<string>mapname</string>
		<string>masterSynched</string>
		<string>material</string>
		<string>math</string>
		<string>matrixActor</string>
		<string>max</string>
		<string>maxBounce</string>
		<string>maxDiffuseBounce</string>
		<string>maxError</string>
		<string>maxGlossyBounce</string>
		<string>maxICSampleSize</string>
		<string>maxRadius</string>
		<string>maxRayDepth</string>
		<string>maxRotLenDelta</string>
		<string>maxTextureRes</string>
		<string>maxTransmissionBounce</string>
		<string>maxVolumeBounce</string>
		<string>mBlurAmount</string>
		<string>meshLightSamples</string>
		<string>min</string>
		<string>minBounce</string>
		<string>minDisplacementBounds</string>
		<string>minRadius</string>
		<string>minShadingRate</string>
		<string>morphBinaryFile</string>
		<string>morphInfo</string>
		<string>morphPmdFile</string>
		<string>morphPutty</string>
		<string>motionBlur</string>
		<string>motionSamples</string>
		<string>movieInfo</string>
		<string>movieName</string>
		<string>name</string>
		<string>negBulgeLeft</string>
		<string>negBulgeRight</string>
		<string>newFalloffCurve</string>
		<string>newWinDPI</string>
		<string>newWinHeight</string>
		<string>newWinWidth</string>
		<string>NO_MAP</string>
		<string>NO_NODE</string>
		<string>NO_PARM</string>
		<string>node</string>
		<string>nodeInput</string>
		<string>nonInkyParent</string>
		<string>normalSegCutOff</string>
		<string>Ns</string>
		<string>NsExponent</string>
		<string>nullzone</string>
		<string>numbDeltas</string>
		<string>numbElems</string>
		<string>number</string>
		<string>numbSets</string>
		<string>numbTSets</string>
		<string>numbTVerts</string>
		<string>numbVerts</string>
		<string>numColors</string>
		<string>numControlPts</string>
		<string>numFeaturePoints</string>
		<string>numFrames</string>
		<string>numWeights</string>
		<string>objFile</string>
		<string>objFileGeom</string>
		<string>occlusionCulling</string>
		<string>off</string>
		<string>on</string>
		<string>one</string>
		<string>opacity</string>
		<string>orientation</string>
		<string>origFigureType</string>
		<string>origin</string>
		<string>otherActor</string>
		<string>outerLines</string>
		<string>output</string>
		<string>outputEndFrame</string>
		<string>outputFramesPerSec</string>
		<string>outputHeight</string>
		<string>outputStartFrame</string>
		<string>outputType</string>
		<string>outputWidth</string>
		<string>overallDamping</string>
		<string>overBlack</string>
		<string>overlapColors</string>
		<string>p5</string>
		<string>paperTexture</string>
		<string>parent</string>
		<string>parm</string>
		<string>parmB</string>
		<string>parmG</string>
		<string>parmNode</string>
		<string>parmR</string>
		<string>parsedName</string>
		<string>passCustom1</string>
		<string>passCustom2</string>
		<string>passCustom3</string>
		<string>passNormal</string>
		<string>passPoint</string>
		<string>passTextureCoordinates</string>
		<string>passToonID</string>
		<string>passZDepth</string>
		<string>perspective</string>
		<string>pickActor</string>
		<string>pixelSamples</string>
		<string>pointAtParm</string>
		<string>populationCount</string>
		<string>pos</string>
		<string>posBulgeLeft</string>
		<string>posBulgeRight</string>
		<string>POSE_CAMERA</string>
		<string>posingCamera</string>
		<string>postBlendFrames</string>
		<string>postBlendType</string>
		<string>postFilterParm1</string>
		<string>preBlendFrames</string>
		<string>preBlendType</string>
		<string>presetMaterial</string>
		<string>previewAASamples</string>
		<string>previewDepthBufferOffset</string>
		<string>previewMipMaps</string>
		<string>previewTextureSize</string>
		<string>previewTransLimit</string>
		<string>previewTransLimitOn</string>
		<string>primaryParm</string>
		<string>productionFrame</string>
		<string>productionSettings</string>
		<string>progressiveRefine</string>
		<string>prop</string>
		<string>propagatingScale</string>
		<string>propagatingScaleX</string>
		<string>propagatingScaleY</string>
		<string>propagatingScaleZ</string>
		<string>pt</string>
		<string>pullBack</string>
		<string>pullDown</string>
		<string>pullLeft</string>
		<string>pythonStartupScript</string>
		<string>quantFrame</string>
		<string>quantOptions</string>
		<string>quatInterpolation</string>
		<string>rayAccelerator</string>
		<string>rayTraceShadows</string>
		<string>readScript</string>
		<string>real</string>
		<string>realTimeMode</string>
		<string>realtimeAOBlurRadius</string>
		<string>realtimeAORes</string>
		<string>realtimeAOStrength</string>
		<string>realtimeShowBackfaces</string>
		<string>refFigure</string>
		<string>ReflectionColor</string>
		<string>reflectionMap</string>
		<string>reflectionStrength</string>
		<string>reflectThruKd</string>
		<string>reflectThruLights</string>
		<string>rememberUndo</string>
		<string>renderDefaults</string>
		<string>renderOptionsIndex</string>
		<string>renderOver</string>
		<string>renderQuality</string>
		<string>renderStyle</string>
		<string>replace</string>
		<string>res</string>
		<string>resScale</string>
		<string>reuseShadowMaps</string>
		<string>RHAND_CAMERA</string>
		<string>rHandCamera</string>
		<string>RIGHT_CAMERA</string>
		<string>rightCamera</string>
		<string>root</string>
		<string>rootActor</string>
		<string>rotateX</string>
		<string>rotateY</string>
		<string>rotateZ</string>
		<string>rotations</string>
		<string>rotationsOffset</string>
		<string>runPythonScript</string>
		<string>s</string>
		<string>sadness</string>
		<string>sampleAllLightsDirect</string>
		<string>sampleAllLightsIndirect</string>
		<string>sampleClampDirect</string>
		<string>sampleClampIndirect</string>
		<string>scale</string>
		<string>scaleX</string>
		<string>scaleY</string>
		<string>scaleZ</string>
		<string>screenPlace</string>
		<string>selectedOutput</string>
		<string>selectionSync</string>
		<string>selfForce</string>
		<string>setGeomHandlerOffset</string>
		<string>settings</string>
		<string>SHADED</string>
		<string>SHADEDOUTLINE</string>
		<string>shaderNodeParm</string>
		<string>shaderTree</string>
		<string>shadingRate</string>
		<string>SHADOW_CAM_LITE1</string>
		<string>SHADOW_CAM_LITE2</string>
		<string>SHADOW_CAM_LITE3</string>
		<string>shadowBiasMin</string>
		<string>shadowBlurRadius</string>
		<string>shadowColor</string>
		<string>shadowOnlyRender</string>
		<string>shadowRaytraceSoftness</string>
		<string>shadowRenderShadingRate</string>
		<string>shadowSamples</string>
		<string>showPopulated</string>
		<string>showPreview</string>
		<string>shutterClose</string>
		<string>shutterOpen</string>
		<string>SIDE_CAMERA</string>
		<string>sideImage</string>
		<string>SILHOUETTE</string>
		<string>sihouetteOutlineWidth</string>
		<string>SKETCHSHADED</string>
		<string>skinType</string>
		<string>sl</string>
		<string>sm</string>
		<string>smartparent</string>
		<string>SMOOTHLINED</string>
		<string>smoothPolys</string>
		<string>smoothScale</string>
		<string>smoothScaleX</string>
		<string>smoothScaleY</string>
		<string>smoothScaleZ</string>
		<string>smoothZones</string>
		<string>soundFile</string>
		<string>soundMute</string>
		<string>soundStartEnd</string>
		<string>spatialSplit</string>
		<string>sphereMatsRaw</string>
		<string>spherezone</string>
		<string>sphereZoneProp</string>
		<string>spl</string>
		<string>springDamping</string>
		<string>springK</string>
		<string>startFrame</string>
		<string>startPt</string>
		<string>static</string>
		<string>staticValue</string>
		<string>STD_CAMERA</string>
		<string>stiffExpo</string>
		<string>storageOffset</string>
		<string>strength</string>
		<string>strokeHeadLength</string>
		<string>strokeTailLength</string>
		<string>subdivDeltas</string>
		<string>subdivideWithFigure</string>
		<string>subdivLevels</string>
		<string>subdivRenderLevels</string>
		<string>subsurface</string>
		<string>subsurfaceSamples</string>
		<string>superfly</string>
		<string>superFlyOptions</string>
		<string>superflyRoot</string>
		<string>surprise</string>
		<string>talkDesigner</string>
		<string>talkRange</string>
		<string>tangentSpace</string>
		<string>taper</string>
		<string>taperX</string>
		<string>taperY</string>
		<string>taperZ</string>
		<string>target</string>
		<string>targetExtendedInfo</string>
		<string>targetFigure</string>
		<string>targetGeom</string>
		<string>tcb</string>
		<string>tExpo</string>
		<string>textLine</string>
		<string>TextureColor</string>
		<string>textureFile</string>
		<string>textureInfo</string>
		<string>textureMap</string>
		<string>texturePhotoLineup</string>
		<string>TEXTURESHADED</string>
		<string>textureStrength</string>
		<string>textureType</string>
		<string>thighLength</string>
		<string>ThreePortsBigBottom_p1</string>
		<string>ThreePortsBigBottom_p2</string>
		<string>ThreePortsBigBottom_p3</string>
		<string>ThreePortsBigLeft_p1</string>
		<string>ThreePortsBigLeft_p2</string>
		<string>ThreePortsBigLeft_p3</string>
		<string>ThreePortsBigRight_p1</string>
		<string>ThreePortsBigRight_p2</string>
		<string>ThreePortsBigRight_p3</string>
		<string>ThreePortsBigTop_p1</string>
		<string>ThreePortsBigTop_p2</string>
		<string>ThreePortsBigTop_p3</string>
		<string>thresholdGradient</string>
		<string>thumbGrasp</string>
		<string>tileSize</string>
		<string>tMax</string>
		<string>tMin</string>
		<string>toneExposure</string>
		<string>toneGain</string>
		<string>toneMapper</string>
		<string>toNewWindow</string>
		<string>toonEdgeLineWidth</string>
		<string>toonOutlineStyle</string>
		<string>toonTones</string>
		<string>TOP_CAMERA</string>
		<string>topCamera</string>
		<string>totalNormCutOff</string>
		<string>trackingScale</string>
		<string>trackingScaleMult</string>
		<string>transformPerVertex</string>
		<string>translateX</string>
		<string>translateY</string>
		<string>translateZ</string>
		<string>transmissionSamples</string>
		<string>transparencyMap</string>
		<string>transparencySort</string>
		<string>transparentBackground</string>
		<string>transparentMaxBounce</string>
		<string>transparentMinBounce</string>
		<string>transparentShadows</string>
		<string>true</string>
		<string>turbDelay</string>
		<string>turbScale</string>
		<string>turbStrength</string>
		<string>twistX</string>
		<string>twistY</string>
		<string>twistZ</string>
		<string>TwoPortsLeftRight_p1</string>
		<string>TwoPortsLeftRight_p2</string>
		<string>TwoPortsTopBottom_p1</string>
		<string>TwoPortsTopBottom_p2</string>
		<string>uniqueInterp</string>
		<string>UNIVERSE</string>
		<string>useBinaryMorph</string>
		<string>useBulgeMapLeft</string>
		<string>useBulgeMapRight</string>
		<string>useBump</string>
		<string>useCamera</string>
		<string>useCustomFramesPerSec</string>
		<string>useDOF</string>
		<string>useGamma</string>
		<string>useGI</string>
		<string>useIrradianceCache</string>
		<string>useLimits</string>
		<string>usemtl</string>
		<string>useP5renderer</string>
		<string>USEPARENT</string>
		<string>usePreviewRoot</string>
		<string>userCreated</string>
		<string>useRenderer</string>
		<string>useSumAreaTables</string>
		<string>usesWeightMap</string>
		<string>usesWorldSpaceMagnets</string>
		<string>useTexture</string>
		<string>useTextureCache</string>
		<string>useUVspace</string>
		<string>useZBuffer</string>
		<string>usingGroups</string>
		<string>v</string>
		<string>value</string>
		<string>valueKey</string>
		<string>valueOpDeltaAdd</string>
		<string>valueOpDivideBy</string>
		<string>valueOpDivideInto</string>
		<string>valueOpKey</string>
		<string>valueOpMinus</string>
		<string>valueOpPlus</string>
		<string>valueOpTimes</string>
		<string>valueParm</string>
		<string>vanishingLines</string>
		<string>version</string>
		<string>vertsPerHair</string>
		<string>visibility</string>
		<string>visibleInCamera</string>
		<string>visibleInIDL</string>
		<string>visibleInReflections</string>
		<string>visibleInRender</string>
		<string>volumeMaxSteps</string>
		<string>volumeSamples</string>
		<string>volumeStepSize</string>
		<string>vt</string>
		<string>w</string>
		<string>warped</string>
		<string>weightMap</string>
		<string>weightmapzone</string>
		<string>weights</string>
		<string>weightVertPct</string>
		<string>weld</string>
		<string>widthRange</string>
		<string>WIREFRAME</string>
		<string>wireframeLineEdge</string>
		<string>xOffsetA</string>
		<string>xOffsetB</string>
		<string>yOffsetA</string>
		<string>yOffsetB</string>
		<string>yon</string>
		<string>zipTextureCache</string>
		<string>zOffsetA</string>
		<string>zOffsetB</string>
		<string>zoneGroups</string>
		<string>zoneMap</string>
		<string>zones</string>
	</array>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.pz3</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.cr2</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.pp2</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.hr2</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.hd2</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.lt2</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.cm2</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.pz2</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.fc2</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.mt5</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.mc6</string>
			<key>BBLMIsSourceKind</key>
			<true/>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>
		<key>Prefix for Functions</key>
		<string></string>
		<key>Prefix for Procedures</key>
		<string></string>
		<key>Open Statement Blocks</key>
		<string>{</string>
		<key>Close Statement Blocks</key>
		<string>}</string>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Open Strings 1</key>
		<string>&apos;</string>
		<key>Close Strings 1</key>
		<string>&apos;</string>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>Open Strings 2</key>
		<string>&quot;</string>
		<key>Close Strings 2</key>
		<string>&quot;</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>End-of-line Ends Strings 2</key>
		<false/>
	</dict>
</dict>
</plist>
